#meus-servicos{
 display: flex;
 flex-direction: column;
 gap: 54px;
 margin: 120px 0px 88px 0px;

    .cards02-hug{
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;

      .cards-02{
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding: 20px;

        border-radius: 12px;
        border: 1px solid var(--gray-200);

        width: 280px;
        height: 155px;

        img{
          width: 48px;
          height: 48px;
        }
      }

    }


}